<div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-4">Liste Des marques&nbsp;</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Marque information&nbsp;</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Marque Photo</th>
                                    <th>Nom De La marque</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--boucle-->
                                <tr *ngFor="let m of marque">
                                    <td>{{m.idMarque}}</td>
                                    <td >
                                        <!--data:image/jpeg;base64  to convert data -->
                                        <img class="rounded-circle mr-2" width="150 " height="100"
                                        src="data:image/jpeg;base64,{{m.data}}">
                                    </td>
                                    <td>{{m.markName}}</td>
                                    <td><button class="btn btn-info" type="button"   (click)="update(m.idMarque)" >Modifier</button></td>
                                    <td><button class="btn btn-danger" type="button" (click)="delete(m.idMarque)">Supprimer</button></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><strong>Id</strong></td>
                                    <td><strong>Marque Photo&nbsp;</strong></td>
                                    <td><strong>Nom De La Marque</strong></td>
                                    <td><strong>Modifier</strong></td>
                                    <td><strong>Supprimer</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>