
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Liste Des Models&nbsp;</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Model information&nbsp;</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>id Model</th>
                                            <th>Model Photo</th>
                                            <th>Nom Model&nbsp;</th>
                                            <th>Type Vehicule</th>
                                            <th>Marque</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let m of model">
                                            <td><strong>{{m.idModel}}</strong></td>
                                            <td><img class="rounded-circle mr-2" width="100" height="100" src="data:image/jpeg;base64,{{m.dataImg}}"></td>
                                            <td>{{m.modelName}}</td>
                                            <td>{{m.typeVehicule}}</td>
                                            <td>{{m.marque.markName}}</td>
                                            <td><button class="btn btn-info" type="button" (click)="Update(m.idModel)" >Modifier</button></td>
                                            <td><button class="btn btn-danger" type="button" (click)="delete(m.idModel)">Supprimer</button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>Id Model </strong></td>
                                            <td><strong>Model Photo</strong></td>
                                            <td><strong>Nom Model</strong></td>
                                            <td><strong>Type Vehicule</strong></td>
                                            <td><strong>Marque</strong></td>
                                            <td><strong>Modifier</strong></td>
                                            <td><strong>Supprimer</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
      
