
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" [src]="imgURL"  *ngIf="imgURL" width="160" height="160">
                                    <div class="mb-3">
                                        <label class="form-label" for="customFile">télécharger La photo ici</label>
                                        <input type="file" accept="image/*" (change)="onFileChanged($event)" class="form-control"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Ajouter Marque</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group"><label for="address">
                                                    <strong>Marque :&nbsp;</strong><br></label>
                                                    <div class="dropdown">
                                                        <select class="mdb-select md-form" searchable="Search here.." [(ngModel)]="model.marque" >
                                                            <option   value="" disabled selected>Choisis Marque</option>
                                                            <option *ngFor="let m of marque" [ngValue]="m"  >{{m.markName}}</option>
                                                            
                                                          </select>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label for="address"><strong>Nom du Model :</strong><br></label>
                                                    <input class="form-control" type="text" id="address" placeholder="Entrer le nom de la marque" [(ngModel)]="model.modelName">
                                                </div>
                                                <div class="form-group"><label for="address"><strong>Type de Model :</strong><br></label>
                                                    <input class="form-control" type="text" id="address" placeholder="Entrer le nom de la marque" [(ngModel)]="model.typeVehicule">
                                                </div>
                                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" (click)="addNewModel()">Ajouter </button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
    
